<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/home" routerLinkActive="active">Home</a>
     <!-- we must pass empty string as parameter explicitely when using filter -->
    <a [routerLink]="['/catalog', '']" routerLinkActive="active">Catalog</a>
    <div class="cart">
      <a routerLink="cart" routerLinkActive="active">Cart</a>
    </div>
  </div>
  <div class="right" *ngIf="!user">
    <a routerLink="sign-in">Sign In</a>
    <a routerLink="register" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="user">
    <img src="\assets\images\profile.png" (click)=toggleButtonVisibility()> 
    <div class="sign-out" *ngIf="showSignOutButton">
      <button (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>

<!--  the component’s template is automatically updated whenever
   a bound variable’s value changes in the component’s TypeScript code. 
   This is due to Angular’s data binding and change 
   detection mechanisms to keep 
   your UI in sync with application’s state. -->