<div class="container">
  <!-- click changes variable filter, which activates the getFilteredProducts(), which activates *ngFor -->
  <!-- one-way binding upstream: from the template to the componenet class-->
  <div class="filters">
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
    <!-- after (event) we have a statement, after [var] we have an expression-->
  </div>

  <ul class="products">
    <li
      *ngFor="let currentProduct of getFilteredProducts()"
      class="product-item"
    >
      <!-- IMPORTANT: here: product is passed from the parent componenet to child.ts -->
      <bot-product-details
        [product]="currentProduct"
        (buy)="addToCart(currentProduct)"
      ></bot-product-details>
      <!-- IMPORTANT: buy event is emitted to the parent method -->
    </li>
  </ul>
</div>

<!-- product?.name - question mark here is called 'Safe Navigation Operator'. 
 If one of the items in the products array were null, we would have null.name
 which would stop rendering the following products. With the Operator, the faulty
 product will be displayed with missing values, but the following products
 will be displayed ok -->
